In [11]:
import pandas
import numpy
import yfinance as yf
from hurst import compute_Hc

In [ ]:
# Sobre pandas e numpy

In [3]:
BTC_Ticker = yf.Ticker("BTC-USD")

In [5]:
df_btc = BTC_Ticker.history(period="1mo")

In [8]:
# Check dataset

In [9]:
df_btc.info()
df_btc.head()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 30 entries, 2023-11-03 00:00:00+00:00 to 2023-12-03 00:00:00+00:00
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Open          30 non-null     float64
 1   High          30 non-null     float64
 2   Low           30 non-null     float64
 3   Close         30 non-null     float64
 4   Volume        30 non-null     int64
 5   Dividends     30 non-null     float64
 6   Stock Splits  30 non-null     float64
dtypes: float64(6), int64(1)
memory usage: 1.9 KB

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2023-11-03 00:00:00+00:00,34942.472656,34942.472656,34133.441406,34732.324219,17158456701,0.0,0.0
2023-11-04 00:00:00+00:00,34736.324219,35256.031250,34616.691406,35082.195312,9561294264,0.0,0.0
2023-11-05 00:00:00+00:00,35090.011719,35340.339844,34594.242188,35049.355469,12412743996,0.0,0.0
2023-11-06 00:00:00+00:00,35044.789062,35286.027344,34765.363281,35037.371094,12693436420,0.0,0.0
2023-11-07 00:00:00+00:00,35047.792969,35892.417969,34545.816406,35443.562500,18834737789,0.0,0.0

In [10]:
!pip install hurst

Collecting hurst
  Downloading hurst-0.0.5-py3-none-any.whl (5.9 kB)
Requirement already satisfied: pandas>=0.18 in c:\users\youit\onedrive\001 - documentos\github\ds_utils\.conda\lib\site-packages (from hurst) (2.1.3)
Requirement already satisfied: numpy>=1.10 in c:\users\youit\onedrive\001 - documentos\github\ds_utils\.conda\lib\site-packages (from hurst) (1.26.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\youit\onedrive\001 - documentos\github\ds_utils\.conda\lib\site-packages (from pandas>=0.18->hurst) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\youit\onedrive\001 - documentos\github\ds_utils\.conda\lib\site-packages (from pandas>=0.18->hurst) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\youit\onedrive\001 - documentos\github\ds_utils\.conda\lib\site-packages (from pandas>=0.18->hurst) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\youit\onedrive\001 - documentos\github\ds_utils\.conda\lib\site-packages (from python-dateutil>=2.8.2->pandas>=0.18->hurst) (1.16.0)
Installing collected packages: hurst
Successfully installed hurst-0.0.5

In [ ]:
compute_Hc